* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0; 
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
}

// Estilos generales body
main {
  padding: 2rem; 
  color: map-get($colors, primary-color); 
  width: map-get($element-widths, full); 
  margin: 0 auto; 
}

h1 {
  font-size: map-get($font-sizes, main-title); 
  font-weight: map-get($font-weights, title);
  line-height: 4rem;
}
h2 {
  font-size: map-get($font-sizes, secondary-title); 
  font-weight: map-get($font-weights, title);
}
h3 {
  font-size: map-get($font-sizes, menu-text); 
  font-weight: map-get($font-weights, title);
}
p {
  font-size: map-get($font-sizes, body-text);
}
button {
  @include button-styles;
}
button:hover {
  background-color:  map-get($colors, primary-color); 
  color: map-get($colors, secondary-color);
  transform: scale(1.1); 
  cursor: pointer;
}
a {
  color: map-get($colors, secondary-color);
}

// Estilos generales header
.header {
  background-color: map-get($colors, primary-color);
  color: map-get($colors, primary-color);
  width: 100vw; 
  &__container {
    width: map-get($element-widths, full) !important; 
    padding: 0 2rem 0.5rem 2rem;  
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 0 auto; 
  }
  &__logo {
      width: 100px;
  }
  &__nav {

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      & a {
        color: map-get($colors, secondary-color);
        font-size: map-get($font-sizes, menu-text);
        text-decoration: none;
        margin-right: map-get($margins, small-space);  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Hero (Introducción)
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  &__col1 {
    flex: 1;
    background-image: url('../images/bg-1.png');
    background-repeat: no-repeat; 
    background-size: 80%;
    background-position: center bottom;  
    display: flex; 
    align-items: center;  
    padding: 25px; 
    .hero__image {
      margin: 0 auto; 
      border-radius: map-get($border-radius-style, images);
      width: 450px; 
    }
  }
  &__col2 {
    flex: 1;
  }
}

// Historia
.story {
  display: flex; 
  align-items: center;
  background-image: url('../images/bg-2.png');
  background-repeat: no-repeat; 
  background-size: 45%;
  background-position: center bottom; 
  margin: map-get($margins, large-space) 0 map-get($margins, large-space) 0;
  &__col1 {
    width: 50%;
    padding-right: 50px; 
    .story__list {
      padding-left: 0;
      & > li {
        list-style: none;
        margin-bottom: map-get($margins, small-space);
        padding-bottom: 10px;
        border-bottom: 1px solid map-get($colors, primary-color);
        font-weight: map-get($font-weights, title);
      }

    }
  }
  &__col2 {
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    &__row1, &__row2 {
      display: flex; 
      .story__image {
        width: 17vw; 
        height: 300px; 
        object-fit: cover;
        margin: 5px; 
        border-radius: map-get($border-radius-style, images);
      }
    }
  }
}

// Ubicación
.ubication {
  margin-bottom: -100px; 
  &__col1 {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  iframe {
    border-radius: map-get($border-radius-style, images); 
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    &__icon {
      color: map-get($colors, primary-color);
      font-size: 1.5rem;
      margin: 0 1rem;
      transition: all 0.2s ease;
      margin-bottom: map-get($margins, small-space);
      &:hover {
        transform: scale(1.2);
      }
    }
  } 
}

// Footer 
.footer {
  padding-top: map-get($margins, large-space);
  padding-bottom: map-get($margins, small-space);
  background-color: map-get($colors, primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__logo {
    margin: 10px;
    img {
      width: 100px; 
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; 
    &__item {
      color: map-get($colors, secondary-color);
      font-size: 14px;
      margin: 0 10px;
    }
  }
}


@media screen and (max-width: 1024px) {
  main {
    width: map-get($element-widths, medium);
    padding: 1.5rem;
  }

  .header {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__nav {
      &__list { 
        flex-direction: column; 
        align-items: center;
        & a {
          margin-right: 0;
          margin-top: map-get($margins, small-space);   
        }
      }
    }
  }

  .hero {
    flex-direction: column;
    &__col1 {
      order: 1;
      padding: 0;
      background-size: 100%;
      background-position: center center;
      .hero__image {
        width: 100%; 
      }
    }
    &__col2 {
      order: -1;
    }
  }

  .story {
    flex-direction: column;
    &__col1 {
      padding-right: 0;
      width: 100%;
    }
    &__col2 {
      width: 100%;
      display: flex; 
      flex-direction: column; 
      align-items: center;
      .story__image {
        width: 250px; 
        width: 250px; 
      }
      &__row2 {
        padding-right:0; 
      }
    }  
  }

  .ubication {
    iframe {
      width: 80vw;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    width: map-get($element-widths, small);
  }

  .story {
    flex-direction: column;
    &__col2 {
      .story__image {
        width: 85vw;
        margin: 0 auto; 
        margin-bottom: 10px;
      }
      &__row1, &__row2 {
        flex-direction:column; 
      }
      &__row2 {
        padding-right:0; 
      }
    } 
  }

  .footer {
    &__info {
        flex-direction: column;
        align-items: center;
    }
  }
}