<footer class="footer">
    <div class="footer__logo">
      <img src="./assets/images/catedral.png" alt="Logo de mi sitio web">
    </div>
    <ul class="footer__info">
      <li class="footer__info__item">© 2023 Mi sitio web</li>
      <li class="footer__info__item">PEC 1 - Herramientas HTML y CSS ll</li>
      <li class="footer__info__item"><a href="https://github.com/albbmg/PEC1AlbaMunozGarcia" target="_blank">Hecho por Alba Muñoz García <i class="fab fa-github"></i></a></li>
    </ul>
  </footer> 